USE [LocalRegHorario]
GO
/****** Object:  UserDefinedFunction [dbo].[ConvertTiempoEnHHMMSS]    Script Date: 28/04/2021 10:32:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER function [dbo].[ConvertTiempoEnHHMMSS]
(
    @time decimal(28,3), 
    @unit varchar(20)
)
returns varchar(20)
as
begin

    declare @seconds decimal(18,3), @minutes int, @hours int, @result varchar(10) = '';

    if(@unit = 'hour' or @unit = 'hh' )
        set @seconds = @time * 60 * 60;
    else if(@unit = 'minute' or @unit = 'mi' or @unit = 'n')
        set @seconds = @time * 60;
    else if(@unit = 'second' or @unit = 'ss' or @unit = 's')
        set @seconds = @time;
    else set @seconds = 0; -- unknown time units

	if(@seconds < 0)
		set @result = '-'

	if(@seconds < 0)
		set @seconds = (@seconds * -1)

    set @hours = convert(int, @seconds /60 / 60);
    set @minutes = convert(int, (@seconds / 60) - (@hours * 60 ));
    set @seconds = @seconds % 60;
     
    set @result = @result + convert(varchar(9), convert(int, @hours)) + ':' + right('00' + convert(varchar(2), convert(int, @minutes)), 2)

	return @result
end